@import '/src/styles/variables/variables';
@import '/src/styles/base/typography';

.aqi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.1rem;
    text-shadow: $heading-shadow;

    &__userdata {
        margin: 2rem 0;
        margin-top: 0;
        text-align: center;
        font-size: $font-small;
        &--state {
            font-weight: 200;
        }

        &--city {
            color: $color-white;
            font-size: 3.2rem;
            font-weight: 4  00;
        }

        &--icon {
            margin-right: 0.5rem;
        }
    }

    &__feed {
        width: 32rem;
        height: 32rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $font-huge;
        box-shadow: $box-shadow-light;
        transition: all 0.4s ease-in-out;
        position: relative;
        z-index: 5;
        overflow: hidden;
        background-color: $color-white;
        transform: scale(1.04);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            z-index: -1;
            background-color: $color-light-blue;
            transform: translateY(100%);
            transition: all 0.6s ease-in-out;
        }

        &:hover {
            transform: scale(1);
            box-shadow: $box-shadow-light-hover;

            &:before {
                transform: translateX(0);
            }
        }
    }

    &__aq {
        width: 100%;
        height: 100%;
        padding: 4rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: -0.4rem;

        &--icon {
            font-size: 4.8rem;
        }

        &--title {
            font-size: 3.6rem;
            font-weight: 200;
        }

        &--current {
            font-size: 12rem;
            font-weight: 100;
            text-align: center;
            letter-spacing: -1rem;
        }

        &--idx {
            font-size: 2.4rem;
        }
    }

    &__pollution {
        width: 100%;
        margin: 2rem 0;
        padding: 0 2rem;
        margin-top: 3rem;
        font-size: $font-small;
        font-weight: 100;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        color: $color-steel-blue;
        letter-spacing: -0.06rem;

        &--info {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color-white;
            width: 100%;
        }

        &--value {
            font-size: $font-large;
            font-weight: 100;
        }
    }

    &__legend {
        margin: 2rem 0;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        font-size: 1.35rem;
        padding: 0 2rem;
        color: $color-midnight;

        &--item {
            width: 100%;
        }

        &--bar {
            display: block;
        }

        &--msg {
            display: block;
        }
    }
}