@import '/src/styles/variables/variables';
@import '/src/styles/base/typography';

.header {
    transition: all 0.3s ease-in-out;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2rem;

    &__list {
        font-size: $font-large;
        list-style: none;
        display: flex;
        padding: 0 2rem;
        width: 100%;
    }

    &__logo {
        font-weight: 200;
        font-size: $font-huge;
        justify-self: flex-start;
        margin-top: 2rem;
        margin: 2rem;
    }

    &__item {
        color: black;
        width: calc((100% - 1rem)/4);
        margin: 0.5rem;
        text-align: center;
        font-size: $font-tiny;
        padding: 1rem 0;
        background-color: $hr-unhealthy-at-risk;
    }
}